.jumbotron {
    background-color: #222;
    margin-bottom: 25px;
    
    padding-top: 10px;
    padding-bottom: 30px;

    h1 {
        color: $white;
        font-size: 90px;
        font-weight: 200;
    }

    p {
        color: $white;
    }
}

.jumbotron.jumbotron-sets {
    background-color: $gray-three-shadow;
}

.jumbotron.jumbotron-interview {
    background-color: $gray-three-shadow;
    margin-bottom: 0px;
}

@media (max-width: $screen-xs-max) {

    .jumbotron {

        h1 {
            font-size: 25px;
        }

        margin-bottom: 0px;
    }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .jumbotron {
        h1 {
            font-size: 75px;
        }
    }
}