<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<div class="jumbotron">
		<div class="container">
			<h1>Photo Essays and Projects</h1>
 		</div><!-- .container -->
	</div><!-- .jumbotron -->

	<div class="container">
		<div class="row">
			{% for category in categories %}
				<div class="col-sm-4">
					{% if category.set == 'Humans of JP' %}
						<a href="http://www.humansofjp.com" target="_blank" class="link">
					{% elseif category.set == 'Portfolio'%}
						<a href="http://www.redwylie.com" target="_blank" class="link">
					{% else %}
						<a href="story.php?set={{category.set}}" class="link">
					{% endif %}
						<div class="panel panel-default card">
							<div class="panel-heading" style="background-image: url('{{category.folder}}/thumbnail.jpg')" ></div>
							<div class="panel-body">
								<h1>{{ category.setTitle }} <small class="pull-right">{{category.year}}</small></h1>
								<p class="visible-xs visible-md">
									{{ category.storyCaption|length > 110 ? category.storyCaption|striptags|slice(0, 110) ~ '...' : category.storyCaption|striptags  }}
									{% if ((category.set == 'Humans of JP') or (category.set == 'Portfolio')) %}
										&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
									{% endif %}
								</p>
								<p class="visible-sm">
									{{ category.storyCaption|length > 72 ? category.storyCaption|striptags|slice(0, 72) ~ '...' : category.storyCaption|striptags  }}
									{% if ((category.set == 'Humans of JP') or (category.set == 'Portfolio')) %}
										&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
									{% endif %}
								</p>
								<p class="visible-lg">
									{{ category.storyCaption|length > 140 ? category.storyCaption|striptags|slice(0, 140) ~ '...' : category.storyCaption|striptags  }}
									{% if ((category.set == 'Humans of JP') or (category.set == 'Portfolio')) %}
										&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
									{% endif %}
								</p>
							</div><!-- .panel-body -->
						</div><!-- .card -->
					</a>
				</div><!-- .col -->
			{% endfor %}
		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>