<div class="jumbotron jumbotron-rocklen">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="pull-right">The Artist Stories &nbsp;&bull;&nbsp; Vol. 1 &nbsp;&bull;&nbsp; August 6, 2017</h5>
				<h1>Melissa Rocklen</h1>
				<p><span class="hidden-xs">I met Melissa at the Jamaica Plain Arts Council's Projections II show in July 2017. She graciously offered to be the first artist I would visit to kick off this Artist Stories project. Melissa's current focus is mobiles. </span>Melissa is a member of the JP Arts Council and is jointly coordinating the brewery site for the Jamaica Plain Open Studios in September. I spent a few hours photographing Melissa working in her studio. We also sat down for an hour and talked about her work, studio, and process.</p>
			</div><!-- .col -->
		</div><!-- .row -->
		
	</div><!-- .container -->
</div><!-- .jumbotron -->

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">

				<img src="photos/2017/08-August/2017-08-06/rocklen-3/photo.jpg" class="img-responsive" />

				<h2>What keeps you returning to your studio day after day?</h2>

				<p>I used to work at my home and just moved to this new studio. I am really excited about having a studio space, it is my full time job and I come here like it is my office.  I like going to a studio because there is other people there.

				<br/><br/>

				What keeps me making art every day, which is apart from the business aspect of it, is having new ideas, having new inspirations, and trying to figure out how to make them happen. That's my favorite part of it, and that will keep me coming back to the studio, apart from having to do things because it is my full time job.</p>

				<h2>How did you know when you were ready for a studio out of your home?</h2>

				<p>I had a studio ages ago, when I was living with roommates. I just couldn't work out of my home, it wasn't enough space. Once I got my own condo I started working at home a bunch, and I realized that working at home for me is depressing, it's isolating, and then I get really distracted easily. When I come here I actually work. For me, there's something about having other people's eyes on me. They're not looking at me, but having other people around makes me work harder. If I am on my own I get really distracted by everything that is happening in my life or around the house.</p>

			</div><!-- .col -->


		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">

				<h3>How do you deal with the isolation in the studio</h3>

				<p>One of the ways I dealt with the isolation was to move my work out of the house. The other way, creating communities. Meeting with different groups of artists so that I am not working on my own all the time.</p>

				<br/><br/>

				<img src="photos/2017/08-August/2017-08-06/rocklen-4/photo.jpg" class="img-responsive" />
				
				<h2>How do you deal with distractions?</h2>
	 
				<p>I come to the studio.  I will also set a timer for myself. For instance, I have a lot of hand pain, it's good to stretch. I will set my timer for an hour, at the end of the hour, I will check the text messages that are constantly coming in. We text non stop in our society these days, but I won't check texts unless I have just finished an hour. Then I'll stretch my hands. I have no computer or wifi in my studio. When I want to do computer work, I have to go to Ula Cafe and buy tea. This means I will stay and do my computer work for a while, and actually do it, it feels like a treat.</p>


			</div><!-- .col -->


		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-5 col-sm-offset-1">
				<img src="photos/2017/08-August/2017-08-06/rocklen-6/photo.jpg" class="img-responsive" />
				<br class="visible-xs" />
			</div><!-- .col -->
			<div class="col-sm-5">
				<img src="photos/2017/08-August/2017-08-06/rocklen-7/photo.jpg" class="img-responsive" />
			</div><!-- .col -->
		</div><!-- .row -->

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>The specific work that you're doing now, the mobiles, how did that start, how did that catch for you?</h2>

				<p>My background is painting and printmaking, and then I was doing mostly just jewelry making.  I wanted something that was a little more interesting for me personally. I like that mobiles are bigger, I like that they're like puzzles that I have to figure out how to make. I started making them because I could combine my different skills.  I was able to use color theory again from painting.  I started using mobiles a little in my social work. I noticed the changes they had on people, they can get really mesmerized by them. They get calmed by them and I like that. I liked that it was art that had an impact.</p>
			</div><!-- .col -->
		</div><!-- .row -->

	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

		<div class="col-sm-10 col-sm-offset-1">

			<h3>You mentioned that you had a career in social work, and you had art.  You were feeling that you didn't have a balance between the two. When you said balance what came to my mind was how much mobiles are about balance, is that on your mind often. Was that part of the attraction as well?</h3>

			<p>Yes and no. I'm not thinking of life balance consciously, but balance is an interesting thing. When you change the balance of a mobile, when you change the weight on one side or the other, it completely changes the movement of every part of the mobile. That's on my mind all the time. Like if you play tetris, when you walk around you see tetris pieces everywhere. Even if I am walking around, I will think about how the flower on a branch will change the weight on a branch.  That kind of thing is on my mind all the time, but not balance in a more holistic sense.</p>

			<h2>So the mobiles have changed how you actually look at the physical world everywhere you go?</h2>
 
			<p>Yeah, but doesn't everything do that?</p>
		
		</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

		<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1">

			<h3>Do you feel like the days fly by in your studio?</h3>
 
			<p>Yes and no. This is why I would also like to do more social work. I find that when I am doing more social work, I can get more into the zone when I am doing mobiles, if that makes sense. When art making becomes an everyday thing,  for instance right now when I am working on a new project it will fly by.  I will go damn, I didn't have enough time because I am figuring it out.  I think that is the part that gets into flow for me. However, sometimes if I am working on something that is more tedious than it won't. It just depends on what I am working on. When I am working with colors things tend to fly by more.</p>
			
		</div><!-- .col -->
		<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
			
			<img src="photos/2017/08-August/2017-08-06/rocklen-8/photo.jpg" class="img-responsive" />

		</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

		<div class="col-sm-8 col-sm-offset-2">

			<h1 class="quote">"The tool that I can't live without? My pliers, I love my pliers, I would take my pliers to a desert island. All of my pliers, I want them all. My wire cutters, my dremel, with all of the different tips, god I love dremels, and my torch."</h1>
		
		</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-1">
				<img src="photos/2017/08-August/2017-08-06/rocklen-11/photo.jpg" class="img-responsive" />
			</div><!-- .col -->

			<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">

				<br class="visible-xs visible-sm" />

				<h3>Can you talk about the piece you are making for the school?</h3>
 
				<p>It's the only time I have ever had artist's block. I haven't had artist block before. and I have it right now.  I think it is because somebody else is giving me my parameters. It is really hard to work within other people's parameters. It's been hard, the piece is going to go in this beautiful hallway, all skylights above, with sunlight coming in. The hallway is 40 feet long and 10-12 feet across. Each mobile is going to be between 8 and 10 feet across and I am going to be making 5. It's bigger than anything I ever have worked on before. </p>
 
 			</div><!-- .col -->

		</div><!-- .row -->

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">

				<h2>The parameters that you mentioned, is that just dimensions, or are there other parameters?</h2>
				 
				<p>I taught classes to high school students, and I asked for their ideas, my goal was to incorporate all of their ideas into the mobiles. I ended up with about 400 really disparate ideas. Trying to incorporate really different ideas is hard, and there's 400 of them. It's got to be mathematical, it's for a math department. I also am just learning this now, when you write a grant and propose to someone else what you are going to be doing, you have to kinda stick with it.  The artistic process doesn't work like that, you start with an idea and it turns into something different.  That's the most important thing in an art project, with any art project, so it's been hard.</p>

				<h2>The pieces that are hanging in your studio right now, are they experiments, or small scale replicas?</h2>
 
				<p>I started trying to do small scale prototypes, maquettes there called. I am not good at it. The petals you see are close to full size, but there will be more petals, more branches. The ones that you saw with birds, the birds will be different, I have to figure out what those will be. </p>

				


			</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">
				<img src="photos/2017/08-August/2017-08-06/rocklen-2/photo.jpg" class="img-responsive" />
			</div><!-- .col -->


		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">

				<h3>How long have you and making mobiles</h3>

				<p>In this capacity, six years. I never made any when I was younger, but if I look back to my conceptual sculpture days from college, a bunch of the pieces I did are actually mobiles. I am only making mobiles right now. That will morph over time. Mobiles have been my exclusive focus for about three years.</p>


				<h2>Where can people see your work</h2>

				<p>On my website at <a href="http://www.rocklendesigns.com" target="_blank">rocklendesigns.com</a>. On weekends I do <a href="http://www.rocklendesigns.com/#shows-section" target="_blank">craft shows</a>.  I also have a couple pieces up at JP Seafood and Brookline booksmith.</p>
			

				<h2>What do you hope someone would think, see, or experience when they're looking at your work.</h2>

				<p>So here is what happens at craft shows. The shows can be really chaotic. Both for people vending and the people walking around. People look all around and they're overwhelmed by everything they see. Then they see my mobiles and are calmed. I like that response. I like that they feel calm, that's a good feeling to me. I think it's the movement they really like. I like when people look at them and don't quite understand how they work. They're like how does that work?  Because mobiles can be a little counterintuitive.</p>

			</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">
				<img src="photos/2017/08-August/2017-08-06/rocklen-12/photo.jpg" class="img-responsive" />
			</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section">
	<div class="container">
		<div class="row">

		<div class="col-sm-8 col-sm-offset-2">

			<h1 class="quote">"When you start to make something look professional, people assume you make it fast and that's just not the case. It's all behind the scenes so it looks really simple. But it's not simple."</h1>
		
		</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">

				<h3>Do you ever think about a piece after it's sold and imagine the life it has now?</h3>
				<p>Yes.  Although it's different now that I'm in business and I sell so many pieces. I think about that less but I do think about it. One of my favorite things is hearing from customers about where they put it, or where they look at it. That's really nice because now when art becomes your business you just sell so many things you don't know where it goes. Which is sad, it's nice to know where things go. I did have an Etsy shop but I really like selling face-to-face. I like talking with the people so now it's mostly face-to-face.</p>


				<h2>If you saw a piece that you sold do you remember the physical act of making it?</h2>

				<p>Yes. I'll listen to certain music as I'm making something, I don't know if you have this too, but when I hear that music I know what I've made.</p>


				<h2>What is the question that you wish people would ask you about your work?  If somebody just sat down with you and you're explaining your work, what would be the most important thing you'd want to say?</h2>

				
				<p>At a craft show, there isn’t enough time to tell people exactly how I made something. You have to pay attention to 20 millions things at once. But if I was to sit down with someone? I love when engineers come to my booth and talk to me about balance and things like that. I love it, it's really fun. I like the question ‘what's the hardest part, what is a really challenging part’ because that’s the part I get stuck on and enjoy figuring out. 
				
				<br/><br/>

				It can feel really intimate talking about your art. If I was sitting down with someone, I do like talking about it. I mean because there's the why answer that I give people, and then there's really the why you make things.  Which when you're making it isn't always conscious. I don't think we always know consciously why we do everything. Something about the feeling of it is a little compulsive, obsessive, but you do it because you're compelled to do it.</p>
				
			</div><!-- .col -->

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-1">

				<h3>Is there something you wish people knew about your work?</h3>

				<p>I wish people knew how much thought and time goes into it. Because I think when you start to make something look professional, people assume you make it fast and that's just not the case. It's all behind the scenes so it looks really simple. But it's not simple, I wish people understood that but we don't live in an age where people get that.  We forget about the importance of thought. A lot my work is sitting and thinking and then I have to tear apart those toughts and start over.  People can't see that and a lot of is just figuring things out. We don't allow time or give value to that process.</p>

			</div><!-- .col -->

			<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
				<img src="photos/2017/08-August/2017-08-06/rocklen-1/photo.jpg" class="img-responsive" />
			</div><!-- .col -->
			

		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">
				<img src="photos/2017/08-August/2017-08-06/rocklen-5/photo.jpg" class="img-responsive" />
			</div><!-- .col -->


		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-5 col-sm-offset-1">
				<img src="photos/2017/08-August/2017-08-06/rocklen-9/photo.jpg" class="img-responsive" />
				<br class="visible-xs" />
			</div><!-- .col -->
			<div class="col-sm-5">
				<img src="photos/2017/08-August/2017-08-06/rocklen-10/photo.jpg" class="img-responsive" />
			</div><!-- .col -->


		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


<div class="jumbotron jumbotron-rocklen jumbotron-connection">
	<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<h1 class="from">Melissa Rocklen</h1>
			</div><!-- .col -->
			<div class="col-xs-2 text-center">
				<img src="assets/images/icons/link-icon.png" class="img-responsive img-link" />
			</div><!-- .col -->
			<div class="col-xs-5">
				<h1>Syd Hardin</h1>
			</div><!-- .col -->
		</div><!-- .row -->

		<div class="row">
			<div class="col-sm-12">
				<p>This series is about linking one interview with an artist to the next artist, creating a linked chain of interviews and studio visits. I have asked each artist to suggest the next interview in the series. <br/><br/>Melissa talks a little about her friend and fellow artist Syd Hardin, Syd's work, and what questions she would have for her.</p>
			</div><!-- .col -->
		</div><!-- .row -->
		
	</div><!-- .container -->
</div><!-- .jumbotron -->



<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">

			<h3>What can you tell me about Syd?</h3>

			<p>Syd is an animal lover, she and her husband have two dogs and her main gig right now is doing Pet Portraits. She paints animals and does it in a pop art style. She's incredibly talented painter and she has a sense of style that's both realistic but also very pop arty. Bright colors, a little graphic design-y but realistic.  She's just really skilled and her art is very much reflection of her. She talks fast, she thinks fast, and her art feels the same way. Bright and vibrant and energetic. Syd is energetic and her art is energetic. Her studio is actually a tiny closet space off of her bedroom at her house. I don't know if they're from grad school or undergrad but she used to paint blow up dolls and so those are all over her house. </p>

			<h2>What do you feel when you see her work?</h2>

			<p>Her work is happy. It's happy and it's quirky and it makes you smile. I'm also impressed because of her skill. That's what I see in her pet portraits. Again it is what she doing right now. Her other stuff is more political and based around feminism. I'm just always really impressed with her creativity.</p>

			<h2>What do you imagine her process is like?</h2>

			<p>I talked to Syd on the regular, so I kind of know what her processes is like, but I've never been inside her studio  while she's working.  Here's what I would imagine. I know her process isn't fast. I know because she is also sort of a perfectionist, so I have no doubt that she belabors - like this piece of fur doesn't look right I need to fix it. I know that she does that, but I know she also works on the floor sitting on a pillow with the painting in front of her and her dogs curled up around her. I imagine she would be painting and sitting very closely to the canvas, the dogs interrupting her, crawling in her lap, her talking to them, checking her phone, doing 20 million things and painting. That's what I imagine.</p>

			<h2>What would you like people to know about Syd?</h2>

			<p>Her art is perfectionistically done,  that sounds bad but it's not bad. I think people assume again that it's much easier than it is.  She puts a lot of work into her art and into her paintings. I wish people knew how much she put into it. She's very detail-oriented. Sid is crazy smart. She has big vision which is really helpful. I just want people to know how great her work is because she doesn't promote herself.</p>


			<h2>What questions would you like me to ask Syd?</h2>

			<p>There are so many things that I'd like to know. Why pet portraits? I know she loves animals but why pet portraits? Does she think she'll ever stop doing pet portraits? I'm always curious about that because she did blow up dolls at one time and she doesn't do blow up dolls anymore. I wonder if one day she'll not do Pet Portraits anymore.  I think I asked that because I think with our own art we're also figuring something out. What would her art career look like in 10 years or 5 years ideally? When Syd is doing her work what does it feel like? What does it feel like to be working? When can you tell that's something you're working on is going well  and when can you tell that it's not going well? When can you tell that you have to stop and start over.</p> 


			</div><!-- .col -->


		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .section -->


